* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   background-color: #001c34;
   color: white;
}

ul li {
   list-style: none;
}

a {
   color: white;
   text-decoration: none;
}

a:hover {
   color: #3cabe1;
   font-size: 1.01em;
   text-decoration: underline;
}

h1 {
   font-size: 42px;
}

h2 {
   font-size: 34px;
}

.container {
   width: 80%;
   margin: 10px auto;

   display: flex;
   align-items: center;
   justify-content: space-between;
}

header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 5px;
}

header #bar {
   display: none;
}

header .container .left h2 span {
   color: #3cabe1;
}

header .container .middle ul {
   display: flex;
   gap: 20px;
}

header .container .right {
   border-left: 2px solid #3cabe1;

}

header .container .right #bar {
   display: none;
}

header .container .right button {
   padding: 5px 10px;
   margin: 0 30px;
   border-radius: 5px;
   border: none;
   color: white;
   background: linear-gradient(to right, #3cabe1, #001c34);
}

header .container .right button:hover {
   border: 1px solid white;
}



footer {
   background-color: black;
   text-align: center;
   padding: 10px;
   position: fixed;
   bottom: 0;
   width: 100%;
}

@media (max-width: 850px) {
   h1 {
      font-size: 32px;
   }
   header .container {
      width: auto;
      margin: 0;
   }

   header .container .left h2 {
      padding-right: 20px;
   }

   header .container .left h2 span {
      color: #3cabe1;
   }

   header .container .middle ul {
      display: none;
      position: absolute;
      top: 2px;
      right: 2px;
      background-color: #3cabe1;
      padding-top: 8px;
      margin-top: 40px;
      flex-direction: column;
   }

   header .container .middle ul li {
      padding: 5px 15px;
   }

   header .container .middle ul li a:hover {
      color: #001c34;
   }

   header #bar {
      display: block;
      z-index: 2;
   }
}

@keyframes show {
   from {
      transform: translate(100px, 0);
   }

   to {
      transform: translate(0, 0);
   }
}

.show {
   animation: show 1s forwards;
}
